<%= simple_form_for(business, local: true) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :company_name %>
    <%= f.input :domain %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :post_code %>
    <%= f.input :country, as: :string %>
    <%#= f.input :contact_email %>
    <%#= f.input :phone_number %>
    <%= f.input :owner_name %>
    <%= f.input :owner_id, collection: business.employees, label: 'Link Owner Account' if business.persisted? %>
    <%= f.input :founded_year %>
    <%= f.input :no_of_employees %>
    <%= f.input :about %>
    <%= f.input :time_zone %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>  
<% end %>
